li {
  list-style-type: none;
  height: 7vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: var(--title-font);
}

li:nth-child(2) {
  color: #fff;
  font-size: 5vw;
  width: 2.5vw;
  list-style-image: url("Wild-logo-1.png");

}

.navTitle {
  color: white;
  font-size: 5vw;
  width: 45vw;
  display: flex;
  justify-content: flex-start;

  margin-top: 0.6vh;
  font-family: var(--title-font);
  grid-area: 1 / 3 / 2 / 4;
  align-items: center;
}

nav {
  background: #F76C6C;
  padding: 1vw;
  height: 10vw;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: end;
  filter: drop-shadow(0px 3px 4px gray);
  position: fixed;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1vw;
  background: #F76C6C;
  color: #fff;
  /* position: initial;
  bottom: 0; */
  font-size: 0.8em;
  font-family: var(--text-font);
  height: 100%;
  filter: drop-shadow(0px 3px 4px gray);
}

.profil {
  height: 7vw;
  grid-area: 1 / 4 / 2 / 5;
  margin-top: 0.1em;
  border-radius: 50%;
  filter: drop-shadow(0 0 0 rgb(141, 68, 81));
  box-shadow: .6vw .2vw .4vw .02vw rgb(141, 68, 81);

}

#photoProfil {
  filter: drop-shadow(.6vw .2vw .4vw .02vw rgb(141, 68, 81));

}

.logo {
  margin-top: 0.2vh;
  align-items: center;
  width: 56%;
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 10vw;
  display: flex;
  justify-content: flex-end;
}

.Burger {
  margin-left: 1vw;
  width: 5vw;
  grid-area: 1 / 1 / 2 / 2;
  margin-top: .6vh;
}

.bouton1 {
  display: none;
}

.bouton2 {
  display: none;
}

.bouton3 {
  display: none;
}

.wilderInfo {
  padding-top: 5vw;
}

@media screen and (min-width: 1024px) {
  nav {
    align-content: center;
    height: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 5fr repeat(4, .5fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }


  .logo {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 1.8vw;
    padding-bottom: .8vh;
    margin-top: none;
    width: 65%;
  }

  .Burger {
    display: none;
  }

  .navTitle {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2vw;
    justify-content: start;
    width: 25vw;
    padding-bottom: 1vh;
  }

  .profil {
    height: initial;
    grid-area: 1 / 7 / 2 / 8;
    width: 4vw;
  }

  .bouton1 {
    display: block;
    grid-area: 1 / 4 / 2 / 5;
    width: 85%;
    padding-top: .35vw;
    position: relative;
    left: 10%;
    cursor: pointer;
  }

  .bouton2 {
    display: block;
    grid-area: 1 / 5 / 2 / 7;
    width: 70%;
    padding-top: .1vw;
    cursor: pointer;
  }

  .bouton3 {
    display: block;
    grid-area: 1 / 6 / 2 / 7;
    width: 80%;
    padding-top: .5vw;
    cursor: pointer;
  }




}