@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@800&display=swap");

:root {
  --main-color: #f87a7a;
  --light-pink: #f2b5b5;
  --background-item: #fcf5f4;
  --title-color: #39424e;
  --title-font: "CentralW01-Bold";
  --text-font: "Montserrat", sans-serif;
}

html {
  background: url(/assets/18408.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: none;
  margin: auto;
  width: clamp(20px, 50%, 400px);
  height: 80vw;
  background: rgb(224, 191, 191);
  flex-direction: column;
  box-shadow: 4.05882px 5.41177px 16.2353px rgba(0, 0, 0, 0.25);
  border-radius: 25.7059px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.bio {
  width: 100%;
  height: 100%;
}

.objectives {
  width: 100%;
  height: 100%;
}

#profile-image {
  width: 40%;
  margin-left: 15vw;
  margin-top: 3vw;
}

#profile-headers {
  padding-left: 1em;
  padding-top: 0.4em;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 4.2vw;
}

#profile-text {
  padding-left: 1.5em;
  font-family: var(--text-font);
  font-weight: 300;
  font-size: 2.6vw;
  position: relative;
}

#profile-name {
  font-family: var(--text-font);
  font-weight: 600;
  font-size: 3vw;
  margin: auto;
  padding-top: 2vw;
}

#profile-title {
  font-family: var(--text-font);
  font-weight: lighter;
  font-size: 2.5vw;
  padding-left: 17vw;
}

.profils {
  display: flex;
  flex-direction: row;
}

.left-arrow {
  margin: auto;
}

#leftArrow {
  display: none;
}

.right-arrow {
  margin: auto;
}

#rightArrow {
  display: none;
}
#cross {
  display: none;
  width: 4vw;
  margin-left: 40vw;
  margin-top: 4vw;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media screen and (min-width: 1024px) {
  #rightArrow {
    display: flex;
  }
  #leftArrow {
    display: flex;
  }

  .profile-container {
    display: flex;
    margin: auto;
    width: clamp(20px, 23vw, 400px);
    height: 30vw;
    margin-bottom: 5.5vw;
    background: linear-gradient(
      209.39deg,
      rgba(224, 191, 192, 0.659) 100.69%,
      rgba(147, 128, 128, 0.86) 118.14%
    );
    flex-direction: column;
    box-shadow: 4.05882px 5.41177px 16.2353px rgba(0, 0, 0, 0.25);
    border-radius: 25.7059px;
  }

  .profils {
    padding-top: 8vw;
  }

  #profile-name {
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 1.5vw;
    margin: auto;
    padding-top: 0.5em;
  }

  #profile-title {
    font-family: var(--text-font);
    font-weight: lighter;
    font-size: 1.1vw;
    padding-left: 8vw;
  }

  #profile-image {
    width: 10vw;
    margin-left: 6.5vw;
    margin-top: 1vw;
  }

  #profile-headers {
    padding-left: 2em;
    padding-top: 0.5em;
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 1.3vw;
  }

  #profile-text {
    padding-left: 4.5em;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 1vw;
  }

  #cross {
    display: none;
    width: 2vw;
    margin-left: 19vw;
    margin-top: 1.5vw;
  }

  .left-arrow {
    margin: auto;
    padding-right: 2vw;
  }

  .right-arrow {
    margin: auto;
    padding-left: 2vw;
  }

  .profile-container:hover,
  .profile-container:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em transparent;
  }

  @keyframes pulse {
    0% {
      box-shadow: 2 0 0 0 var(--hover);
    }
  }

  #leftArrow:hover,
  #leftArrow:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }

  #rightArrow:hover,
  #rightArrow:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
}
