/*section staff*/

@keyframes email {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.staff {
    padding: 10vw;
}

.staffTitle {
    font-family: var(--title-font);
    font-size: 4.5vw;
    padding-bottom: .7em;
    color: var(--title-color);
}

.staffContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-item);
    border-radius: .1em;
    box-shadow: .7vw .9vw .3vw -.2vw #CFCFCF;
    border-right: .4em solid var(--light-pink);
}

.staffPerson {
    display: grid;
    grid-template-columns: .75fr 4fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--background-item);
    font-family: var(--text-font);
    font-weight: bold;
    box-shadow: 0 .5vw .4vw -.3vw #CFCFCF;
    margin-bottom: .7vw;
    padding: .2em;
    height: 10vw;
}

#Marc {
    margin-bottom: 0;
}

.staffImg { 
    grid-area: 1 / 1 / 3 / 2; 
    width: 85%;
    padding-left: .5vw;
    align-self: center;
}

.staffName { 
    grid-area: 1 / 2 / 2 / 3; 
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-top: .3em;
    padding-left: .5vw;
}

.staffJob {
    grid-area: 2 / 2 / 3 / 3;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.5vw; 
    padding-top: .2em;
    padding-left: .5vw;
}
.contactBtn { 
    grid-area: 1 / 3 / 3 / 4;
    border-radius: 1.5em;
    height: 35%;
    width: 120%;
    position: relative;
    top: 25%;
    left: 40%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3vw;
    line-height: 1;
    border: none;
    background-color: white;
    box-shadow: 0 .3em .3em .1em #CFCFCF;;
}

#davidContactBtn {
    top: 30%;
}

.speechBubble {
    padding-left: .5em;
    width: 2vw;
}

.contactBtn:hover {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
}

.activeButton {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.contactForm {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 30vw;
    width: 80%;
    margin-left: auto;
    margin-bottom: 10vw;
    position: relative;
    bottom: 0;
    left: .2vw;
    background-color: var(--light-pink);
    border-radius: 0 0 0 4vw;
}

.formInput {
    width: 75%;
    height: 7vw;
    border: none;
    border-radius: .6em;
    padding-left: 1em;
    margin: .25em;
    font-family: var(--text-font);
    font-size: 2.25vw;
    box-shadow: 0 0.4em .4em -.3em #5f3c3c;
    outline: none;
}

#email {
    margin-top: 1em;
}


#message {
    margin-bottom: 0;
    height: 30vw;
    padding: .5em;
    padding-left: 1em;
    resize: none;
}

.sendBtn {
    position: relative;
    left: 30%;
    top: 8%;
    height: 8vw;
    width: 12vw;
    font-family: var(--text-font);
    font-size: 2.2vw;
    color: white;
    line-height: 1;
    background-color: var(--main-color);
    border-radius: .8em;
    border: none;
    box-shadow: 0 0 .5em .08em #ac6d6d;
    transition: 20ms ease-in-out;
}

.sendBtn:active,
.sendBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.directContact {
    display: none;
}

.emailAnim {
    display: none;
    animation: email 1s ease-in forwards;
    font-family: var(--text-font);
    font-size: 3vw;
    line-height: 1.8;
    color: white;
    background: var(--light-pink);
    background:linear-gradient(to right, var(--light-pink) 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    width: 40%;
    height: 5vw;
    position:fixed;
    top: 10%;
    left: 30%;
    text-align: center;
    border-radius: .1em;
    box-shadow: 0 0.4em .4em -.3em white;
}

@media screen and (min-width: 1024px){

    .staffContact {
        display: flex;
    }

    .staff {
        padding: 5vw;
        width: 60%;
    }

    .staffContainer {
        box-shadow: .7vw .9vw .6vw -.3vw #CFCFCF;
    }
    
    .staffPerson {
        height: 7vw;
    }
    .staffTitle {
        font-size: 3vw;
    }

    .staffName {
        font-size: 1.7vw;
        padding-left: 1vw;
        padding-top: .5em;
    }

    .staffJob {
        font-size: 1.4vw;
        padding-left: 1vw;
    }

    .staffImg {
        width: 100%;
    }

    .contactBtn {
        width: 7.5vw;
        font-size: 1vw;
        padding: .2em;
    }

    .speechBubble {
        width: 1.6vw;
    }

    .directContact {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 5vw;
    }

    .contactTitle {
        font-family: var(--title-font);
        font-size: 3vw;
        padding-bottom: .7em;
        color: var(--title-color);
    }

    .directContactForm {
        background-color: var(--light-pink);
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.5%;
        box-shadow: .7vw .9vw .6vw -.3vw #CFCFCF;
    }

    .directFormInput {
        width: 93%;
        height: 2.4vw;
        border: none;
        border-radius: .6em;
        padding-left: 1em;
        margin: .3em;
        font-family: var(--text-font);
        font-size: 1.25vw;
        box-shadow: 0 0.4em .4em -.3em #5f3c3c;
        outline: none;
    }

    #directReceiver {
        margin-top: 1vw;
    }

    #directReceiver::placeholder {
        color: black;
        font-weight: 600;
    }

    #directMessage {
        height: 60%;
        resize: none;
        padding: .8vw;
        padding-left: 1em;
    }

    .directSendBtn {
        position: relative;
        left: 30%;
        top: 4%;
        height: 2.5vw;
        width: 8vw;
        font-family: var(--text-font);
        font-size: 1.5vw;
        font-weight: 600;
        color: white;
        line-height: 1;
        background-color: var(--main-color);
        border-radius: .8em;
        border: none;
        box-shadow: 0 0 .5em .08em #ac6d6d;
        transition: 20ms ease-in-out;
    }

    .directSendBtn:hover {
        scale: 1.2;
        cursor: pointer;
    }

    .emailAnim {
        height: 4vw;
        width: 35vw;
        font-size: 2.5vw;
        line-height: 1.6;
    }
}