/*section staff*/

.staff {
    padding: 10vw;
}

.staffTitle {
    font-family: var(--title-font);
    font-size: 5.5vw;
    padding-bottom: 16px;
    color: var(--title-color);
}

.staffContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-item);
    border-right: .4em solid var(--light-pink);
    border-radius: 1px;
    box-shadow: .5em .6em .3em -.2em #CFCFCF;;
}

.staffPerson {
    display: grid;
    grid-template-columns: .5fr 3fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--background-item);
    font-family: var(--text-font);
    font-weight: bold;
    box-shadow: 0px 0.4em .4em -.3em #CFCFCF;;
    margin-bottom: 5px;
    padding: .2em;
}

#lastStaffBox {
    margin-bottom: 0;
}

.staffImg { 
    grid-area: 1 / 1 / 3 / 2; 
    width: 90%;
    padding: 1px;
    align-self: center;
}
.staffName { 
    grid-area: 1 / 2 / 2 / 3; 
    font-size: 3vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-top: .5em;
    padding-left: 10px;
}

.staffJob {
    grid-area: 2 / 2 / 3 / 3;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.5vw; 
    padding-top: .3em;
    padding-left: 10px;
}
.contactBtn { 
    grid-area: 1 / 3 / 3 / 4;
    border-radius: 15px;
    height: 35%;
    width: 120%;
    position: relative;
    top: 20%;
    left: 40%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
    line-height: 1;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px 1px #CFCFCF;;
}

.speechBubble {
    padding-left: 3px;
    width: 1.3vw;
}

.contactBtn:active {
    background-color: var(--main-color);
}

.contactBtn:hover {
    background-color: var(--main-color);
    cursor: pointer;
}