@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('//db.onlinewebfonts.com/c/dd4320757ff990fa3d23662f08aa6f3a?family=CentralW01-Bold');

:root {
    --main-color: #F87A7A;
    --light-pink: #F2B5B5;
    --background-item: #FCF5F4;
    --title-color: #39424E;
    --title-font: "CentralW01-Bold";
    --text-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.staff {
    padding: 40px;
}

.staffTitle {
    font-family: var(--title-font);
    padding-bottom: 16px;
    color: var(--title-color);
}

.staffContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-item);
    border-right: .3em solid var(--light-pink);
}

.staffPerson {
    background-color: var(--background-item);
    font-family: var(--text-font);
    box-shadow: 0px 6px 4px -4px #CFCFCF;;
    margin-bottom: 5px;
    padding: 3px;
}