/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('//db.onlinewebfonts.com/c/dd4320757ff990fa3d23662f08aa6f3a?family=CentralW01-Bold');

/*define variable*/
:root {
    --main-color: #F87A7A;
    --light-pink: #F2B5B5;
    --background-item: #FCF5F4;
    --title-color: #39424E;
    --title-font: "CentralW01-Bold";
    --text-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*section wilders*/
.Wilders {
    padding: 10vw;
}

.scroll-container {
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-right: .3em solid #F2B5B5;
}

.wildersTitle {
    font-family: var(--title-font);
    padding-bottom: 16px;
    color: var(--title-color);
}

.wilder {
    height: 30%;
    width: 100%;
    background-color: rgb(252, 245, 244);
    filter: drop-shadow(0px 3px 4px gray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.picture {
    grid-area: 1 / 1 / 3 / 2;
    padding: .7em;
    width: 90%;
}

.nameWilder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-area: 1 / 2 / 2 / 3;
    font-size: 3vw;
    padding-top: .5em;
    margin-left: 1em;
}

.descriptionWilder {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2vw;
    padding-top: .3em;
    margin-left: 1.4em;
}

/*section staff*/

.staff {
    padding: 10vw;
}

.staffTitle {
    font-family: var(--title-font);
    padding-bottom: 16px;
    color: var(--title-color);
}

.staffContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-item);
    border-right: .3em solid var(--light-pink);
}

.staffPerson {
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--background-item);
    font-family: var(--text-font);
    font-weight: bold;
    box-shadow: 0px 6px 4px -4px #CFCFCF;
    ;
    margin-bottom: 5px;
    padding: .2em;
}

.staffImg {
    grid-area: 1 / 1 / 3 / 2;
    width: 70%;
}

.staffName {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 3.5vw;
    padding-top: .5em;
}

.staffJob {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 2.5vw;
    padding-top: .3em;
}

.contactBtn {
    grid-area: 1 / 3 / 3 / 4;
}