/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('//db.onlinewebfonts.com/c/dd4320757ff990fa3d23662f08aa6f3a?family=CentralW01-Bold');

/*define variable*/
:root {
    --main-color: #F87A7A;
    --light-pink: #F2B5B5;
    --background-item: #FCF5F4;
    --title-color: #39424E;
    --title-font: "CentralW01-Bold";
    --text-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*section wilders*/
.Wilders {
    padding: 10vw;
}

.scroll-container {
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-right: .3em solid black;
}

.scroll-wilder {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;

}

#wilder {
    width: 100%;
    background-color: rgb(252, 245, 244);
    filter: drop-shadow(0px 3px 4px gray);
}

#personal-wilders {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.picture {
    grid-area: 1 / 1 / 3 / 2;
    width: 70%;
}

.nameWilder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    grid-area: 1 / 2 / 2 / 3;
}

.descriptionWilder {
    grid-area: 2 / 2 / 3 / 3;



/*section staff*/
.staff {
    padding: 40px;
}

.staffTitle {
    font-family: var(--title-font);
    padding-bottom: 16px;
    color: var(--title-color);
}

.staffContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-item);
    border-right: .3em solid var(--light-pink);
}

.staffPerson {
    background-color: var(--background-item);
    font-family: var(--text-font);
    box-shadow: 0px 6px 4px -4px #CFCFCF;;
    margin-bottom: 5px;
    padding: 3px;
}