/*section wilders*/

.Wilders {
  padding: 10vw;
}

.searchingBar {
  display: flex;
  margin-bottom: 3vw;
}

#searchInput {
  justify-content: flex-start;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 0px;
  filter: drop-shadow(7px 3px 3px gray);
  width: 95vw;
  height: 6vw;
  padding: .5em;
  font-size: 3vw;
}

#buttonSearchBar {
  width: 5vw;
  height: 6vw;
  justify-content: flex-end;
  border: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  background-color: white;
  filter: drop-shadow(6px 3px 3px gray);
}

.loupe {
  display: block;
  margin-right: 3vw;
  height: 3vw;
}

.scroll-container {
  height: 30vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: red red;
  border-right: 0.3em solid #f2b5b5;
  box-shadow: 0.5em 0.6em 0.3em -0.2em #cfcfcf;
  scrollbar-color: red;
}

.wildersTitle {
  font-family: var(--title-font);
  padding-bottom: .7em;
  font-size: 4.5vw;
  color: var(--title-color);
}

.wilder {
  height: 30%;
  width: 100%;
  background-color: rgb(252, 245, 244);
  filter: drop-shadow(0px 3px 4px gray);
  font-family: var(--text-font);
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.picture {
  grid-area: 1 / 1 / 3 / 2;
  padding-left: .5vw;
  height: 90%;
  align-self: center;
}

.nameWilder {
  font-family: var(--text-font);
  grid-area: 1 / 2 / 2 / 3;
  font-size: 3vw;
  margin-top: 0.5em;
  padding-left: 0vw;
}

.descriptionWilder {
  font-family: var(--text-font);
  grid-area: 2 / 2 / 3 / 3;
  font-size: 2vw;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 1024px) {
  .wildersTitle {
    font-size: 3vw;
  }

  .wilder {
    grid-template-columns: 0.5fr 3fr;
    height: 20%;
  }

  .Wilders {
    padding: 5vw;
  }

  .wilderInfo {
    display: flex;
  }

  .scroll-container {
    width: 50vw;
    height: 30vw;
  }

  .nameWilder {
    font-family: var(--text-font);
    grid-area: 1 / 2 / 2 / 3;
    font-size: 2vw;
    margin-top: .4em;
    padding-left: 0vw;
  }

  .descriptionWilder {
    font-family: var(--text-font);
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.5vw;
    margin-bottom: 0.5em;
  }

  .searchingBar {
    display: none;
    margin-bottom: 3vw;
  }

  .picture {
    height: 90%;
  }
}